############# begin Atlas config section ##########
--noNimblePath
--path:"deps/mimalloc_nim/src"
--path:"deps/jsonx/src"
--path:"deps/relay/src"
--path:"deps/openai/src"
############# end Atlas config section   ##########
